services:
  mpp_tests_api:
    container_name: mpp-tests-api-container
    build:
      context: ..
      dockerfile: src/MppTests.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Prod
      - AiClientConfig__OpenAiApiKey=${OPEN_AI_API_KEY}
      - ProxySettings__Ip=${IP_KEY}
      - ProxySettings__Port=${PORT_KEY}
      - ProxySettings__Login=${LOGIN_KEY}
      - ProxySettings__Password=${PASSWORD_KEY}
      
    restart: unless-stopped    
    networks:
      - public-network
    labels:      
      - "traefik.enable=true"      
      - "traefik.http.routers.mpp-tests-api.rule=Host(`api.cloud-platform.pro`) && PathPrefix(`/mpp-tests`)"      
      - "traefik.http.routers.mpp-tests-api.entrypoints=websecure"      
      - "traefik.http.routers.mpp-tests-api.tls.certresolver=letsencrypt"     
      - "traefik.http.services.mpp-tests-api.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.mpp-tests-stripprefix.stripprefix.prefixes=/mpp-tests"
      - "traefik.http.routers.mpp-tests-api.middlewares=mpp-tests-stripprefix"

networks:
  public-network:
    external: true